body {
    /*flex-direction: column;*/
    /*display: flex;*/
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "DINPro", "Helvetica Neue", sans-serif;
    margin: 0;
    /*box-sizing: border-box;*/
    /*height: 100vh;*/
  
  }

  #leftbutton {
    cursor: pointer
  }

  #rightbutton {
    cursor: pointer
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  thead th {
  
    text-align: center;
    width: 100%;
  
  }
  
  table {
    background: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  
  .headcol {
    /*width: 60px;*/
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    /*padding: 0.25rem 0;*/
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
  }
  
  thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
  }
  
  thead {
      z-index: 2;
      background: white;
      border-bottom: 1px solid #eee;
  }
  
  tr, tr td {
    height: 20px;
  }
  
  tr td {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
  }
  
  tbody tr td {
    position: relative;
    vertical-align: top;
    height: 35px;
    width: auto;
  
  }
  
  .event {
    background: #00B4FC;
    color: white;
    border-radius: 2px;
    width: 100%;
    text-align: left;
    position:absolute;
    font-size: 0.875rem;
    z-index: 2;
    overflow-x: visible;
    transition: all 0.2s;
    cursor: pointer;
  }
  .eventtext {
      padding: 0.5rem;
  }

  .popup {
    position:absolute;
    visibility:hidden;
    display: flex;
    top:5em;
    left:5em;
    font-size: 1.5em;
    border: 3px solid;
    border-radius: 6px;
    width: 20em;
    padding: 1em;
    background: white;
    z-index:3;
}

.popup[active='true'] {
    visibility:visible;
}

#popupright {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15em;
    margin-left: 1em;
}

#popupleft {
    position: relative;
}

#starttime {
    margin-top: 3.5em;
}

#endtime {
    margin-bottom: 3.5em;
}

#priorcal {
    height: 4em;
    position: relative;
}
#nextcal {
    height: 4em;
    position: relative;
}
#minical {
    height: 20em;
    width: 4em;
    position: relative;
}

.popup input {
    position: relative;
padding: 4px;
font-size: 1em;
border: 0;
margin: 0;
}

.button {
cursor: pointer;
color: grey;
position: absolute;
}

.upbutton {
left: -0.9em;
font-size: 0.7em;
top: -0.8em;
}
.downbutton {
left: -0.9em;
font-size: 0.7em;
top: 1.5em;
}
.splitbutton {
left: -0.8em;
font-size: 0.8em;
top: 0.1em;
}

#popupinput {
    margin-top: auto;
    margin-bottom: auto
}