.top {
    margin-left: 2em;
    margin-top: 1em;
}

#trackerdiv .input {
    width: 30em;
    padding: 4px;
}

body {
    font-family: "DINPro", "Helvetica Neue", sans-serif;
}

.clickable {
    cursor: pointer;
}

.inputs{
    margin-left:40px;
    margin-top:6px;
}
    
.trackertimerow {
    display: flex;
    width: 20em;
    position: relative;
    height: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.timelabel {
    margin-left: 0.5em;
    top: -0.25em;
    font-weight: bold;
    position: relative;
    margin-bottom: 0;
}
    
.dot{
    width:14px;
    height:14px;
background:black;
    border-radius:7px;
}

.nowdot {
    width: 8px;
    height: 8;
    border-radius: 2px;
    border-width: 2px;
    margin: 1px;
    background: white;
    border-style: solid;
    border-color: gray;
}
    
.line{
    height:5em;
    width:4px;
    margin-left:5.3px;
}

.trackerrow {
    width: 20em;
    display: flex;
}

.trackerlabel {
    margin: auto;
    margin-left: 3em;
    cursor: pointer;
}

.inputbuffer {
    margin-top: auto;
    margin-bottom: auto;
}

#trackerdiv {
    position: relative;
    display: inline-block;
}

.upbutton {
    position: absolute;
    left: -0.8em;
    font-size: 0.7em;
    top: -0.2em;
    color: grey;
}