.top {
    margin-left: 2em;
    margin-top: 1em;
}

.trackerrow .input {
    width: 20em;
}

body {
    font-family: "DINPro", "Helvetica Neue", sans-serif;
}

.categorylabel {
    color: grey;
}

.errorlabel {
    color: red;
}

.clickable {
    cursor: pointer;
}

.inputs{
    margin-left:40px;
    margin-top:6px;
}
    
.trackertimerow {
    display: flex;
    width: 20em;
    position: relative;
    height: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.timelabel {
    margin-left: 0.5em;
    top: -0.25em;
    font-weight: bold;
    position: relative;
    margin-bottom: 0;
}
    
.dot{
    width:14px;
    height:14px;
background:black;
    border-radius:7px;
}

.nowdot {
    width: 8px;
    height: 8;
    border-radius: 2px;
    border-width: 2px;
    margin: 1px;
    background: white;
    border-style: solid;
    border-color: gray;
}
    
.line{
    height:5em;
    width:4px;
    margin-left:5.3px;
}

.trackerrow {
    width: 30em;
    display: flex;
}

.trackerlabel {
    margin: auto;
    margin-left: 3em;
    cursor: pointer;
}

.inputbuffer {
    margin-top: auto;
    margin-bottom: auto;
}

#trackerdiv {
    position: relative;
    display: inline-block;
}

#loginDialog{
    height: 4em;
}

.dialogBox {
    position:absolute;
    visibility:hidden;
    top:5em;
    left:5em;
    font-size: 1.5em;
    border: 3px solid;
    border-radius: 6px;
    width: 15em;
    padding: 1em;
    background: white;
    z-index:3;
}
.dialogBox[active='true'] {
    visibility:visible;
}

.option {
    font-size: 1em;
    border: 2px solid;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    display: inline-block;
    cursor:default;
    text-align: center;
    position: relative;
    background: white;
    user-select: none;
    cursor:pointer;
}

.indent {
    padding-left: 3em;
}
.clickable {
    cursor:pointer;
}
.reportParamInput {
    margin-bottom: 1em;
}

#reportContainer {
    margin-top: 1em;
}

.renameButton {
    margin-left: 1em;
    color:grey;
}

#exportPopup {
    position:absolute;
    visibility:hidden;
    top:5em;
    left:5em;
    font-size: 1.5em;
    border: 3px solid;
    border-radius: 6px;
    width: 15em;
    padding: 1em;
    background: white;
    z-index:3;
}

#exportPopup[active='true'] {
    visibility:visible;
}


.colorpicker {
    margin-left: 1em;
    border: none;
    padding: 0px;
    width: 2em;
}


#renamePopup {
    position:fixed;
    visibility:hidden;
    top:5em;
    left:5em;
    border: 3px solid;
    border-radius: 6px;
    padding: 1em;
    background: white;
    z-index:3;
}

#renamePopup[active='true'] {
    visibility:visible;
}

.wide {
    min-width: 30em;
}

.pager {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
}

#chartContainer.left {
    width: 30em;
    margin-left: 5em;
    margin-top: 5em;
}