.suggestions {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    font-size: 1em;
} 

.suggestion {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.suggestion.focused {
    background-color: DodgerBlue;
    color: #ffffff; 
}

.inputwrapper {
    position: relative;
    display: inline-block;
}